<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605711901872-2tbojqahra8qec66uns39ncsgshuagrj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605711901872-2tbojqahra8qec66uns39ncsgshuagrj</string>
	<key>API_KEY</key>
	<string>AIzaSyD-MJgb8xpEB6kT7yiilMpbt_rjUOohPGM</string>
	<key>GCM_SENDER_ID</key>
	<string>605711901872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eventaura.app.eventauraFlutter</string>
	<key>PROJECT_ID</key>
	<string>eventaura-8bf9c</string>
	<key>STORAGE_BUCKET</key>
	<string>eventaura-8bf9c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605711901872:ios:dd13c683d9722237600775</string>
</dict>
</plist>